html { 
    font-size: 62.5%;
}

body{
    font-size: 16px;
}
/* esta configuracion hace que 10px sea igual a 1rem haciendolo mas facil de manejar.*/


h1 { 
    text-align: center;
    font-size: 3.8rem;
}
span { 
    font-size: 2rem;
}